node_modules
dist
dist/
/dist
/generated/prisma

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Uploads (local dev only)
uploads/
